/* generate new report */

.main .title3 h2
{
	margin-top: 20px;
	margin-left: 80px;
	font-size: 18px;
}
.main .title6 fieldset
{
	width: 39.5%;
	height: 400px;
	margin-left: 78px;
	margin-top: 40px;
	border-radius: 10px;
}
.main .inputField
{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-top: 30px;
}
.main .inputField1{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	margin-top: 30px;
}
.main .inputField label
{
	font-family: 'Poppins', sans-serif;
	width: 150px;
	font-size: 16px;
	border-radius: 8px;
	margin-top: 25px;
}
.main .inputField1 label
{
	font-family: 'Poppins', sans-serif;
	width: 150px;
	font-size: 16px;
	border-radius: 8px;
}
.main .inputField1 select
{
	font-family: 'Poppins', sans-serif;
	width: 190px;
	font-size: 16px;
	border-radius: 8px;
	height: 26px;
}
.main .inputField input[type=text]
{
	font-family: 'Poppins', sans-serif;
	width: 190px;
	font-size: 16px;
	height: 26px;
	border-radius: 8px;
	margin-top: 27px;
	border: 1px solid var(--black2)
}
.main .AddBtn2 button 
{ 
  float: right;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  margin-right: 52px;
  margin-top: 15px;
}

/* Generate Reports */
.main .title7 fieldset
{
	width: 45%;
	height: 480px;
	margin-right: 70px;
	margin-top: -402px;
	float: right;
}